{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Harinas Elizondo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
    <div class="rect"></div>
    <div class="rango">
        <h1>Harinas Elizondo</h1>
        <img src="{% static 'img/logopdf.png' %}">
    </div>
    <div class="contenido">
        <div class="title">
            <div>
                <p>Propietario: {{ name }}</p>
                <p>Unidad : 501</p>
                <p>12/04/2022 al 20/05/2022</p>
                <p>Total de entradas: 6 </p>
                <p>Total de salidas: 3 </p>
                <p>Saldo final: $ 123,311 </p>
            </div>
        </div>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Referencia</th>
                <th>Entradas</th>
                <th>Salidas</th>
            </tr>
            </thead>
            {% for object in object_list %}
                <tbody>
                <tr>
                    <td>{{ object.fecha }}</td>
                    <td>{{ object.concepto }}</td>
                    {% if object.referencia == null %}
                        <td></td>
                    {% else %}
                        <td>{{ object.referencia }}</td>
                    {% endif %}
                    {% if object.tipo_id == 1 %}
                        <td>{{ object.importe }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if object.tipo_id == 2 %}
                        <td>{{ object.importe }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>

