{% extends 'home.html' %}
{% load widget_tweaks %}

{% block content %}

    <form method="post" action="." enctype="multipart/form-data">
        <div class="row d-flex justify-content-center gap-3 mt-5">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="m-3 row">
                            <h3>Cargos / Abonos</h3>
                            {% if form.errors %}
                                <div style="color: #842029; background-color: #f8d7da; border-color: #f5c2c7; position: relative;  padding: 1rem 1rem; margin-bottom: 1rem;  border: 1px solid transparent; border-radius: 0.25rem;">

                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <a> <strong>ERROR!</strong></a>
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>

                                </div>
                            {% endif %}
                            <div class="mb-3 col-6">
                                <label for="exampleInputPassword1" class="form-label">{{ form.owner.label }}</label>
                                {{ form.owner | add_class:'form-control' | attr:'autocomplete:off' }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputPassword1" class="form-label">{{ form.tipo.label }}</label>
                                {{ form.tipo | add_class:'form-control' | attr:'autocomplete:off' }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputPassword1" class="form-label">{{ form.concepto.label }}</label>
                                {{ form.concepto | add_class:'form-control' | attr:'autocomplete:off' }}
                            </div>
                            <div class="mb-3 col-6">
                                <label for="exampleInputPassword1" class="form-label">{{ form.importe.label }}</label>
                                {{ form.importe | add_class:'form-control' | attr:'autocomplete:off' }}
                            </div>
                            <div class="mb-3 col-12">
                                <label for="exampleInputPassword1"
                                       class="form-label">{{ form.referencia.label }}</label>
                                {{ form.referencia | add_class:'form-control' | attr:'autocomplete:off' }}
                            </div>
                            <div class="mb-3 col-12">
                                <label for="exampleInputPassword1"
                                       class="form-label">{{ form.comentarios.label }}</label>
                                {{ form.comentarios | add_class:'form-control' | attr:'autocomplete:off' }}
                            </div>

                            <button type="submit" class="btn-primary btn-lg">Guardar Registro</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
