{% extends 'home.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="row d-flex justify-content-center gap-3 mt-5">
        <div class="col-9">
            Fecha inicio
            <input type="datetime-local">
            Fecha Fin
            <input type="datetime-local">
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card row p">
                    <div class="col-12 p-5 my-0 bg-primary">
                        <h3 class="text-light">
                            {{ owner.name }} {{ owner.first_name }} {{ owner.second_name }}
                        </h3>
                    </div>
                    <div class="col-12 p-5 my-0">
                        <div class="row">
                            <div class="container mt-3">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Saldo Actual : {{ saldofin }}</h4>
                                    </div>
                                    <div class="row col-7 py-3">
                                        <div class="col-6">
                                            <h5>Numero de Cargos : {{ numcar }}</h5>
                                        </div>
                                        <div class="col-6">
                                            <h5>Numero de Abonos : {{ numabon }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Concepto</th>
                                        <th>Cargo</th>
                                        <th>Abono</th>
                                        <th>Saldo</th>
                                    </tr>
                                    </thead>
                                    {% for list_objeto in list_objetos %}
                                        <tbody>
                                        <tr>
                                            <td>{{ list_objeto.fecha }}</td>
                                            <td>{{ list_objeto.concepto }}</td>
                                            {% if list_objeto.tipo == 1 %}
                                                <td>{{ list_objeto.importe }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            {% if list_objeto.tipo == 2 %}
                                                <td>{{ list_objeto.importe }}</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td>{{ list_objeto.saldo }}</td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}